// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';


$primary: #b1d9e5;
$secondary: #c0c519;
$success: #519c0c;
$danger: #f52b2b;


// Bootstrap
@import 'bootstrap/scss/bootstrap';
