@import 'bootstrap/dist/css/bootstrap.min.css';

body {

}

    
main {
    z-index: 2;
    background: #dad1b4;
    color: #050060;
    padding: 2%
}

#main-container {
    display: grid;
    grid-template-columns: 1fr min(65ch, calc(100% - 64px)) 1fr;
    grid-column-gap: 32px;
}

#main-container > * {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1/-1;
}

nav {
    height: 7vh;
}

#app {
    position: relative;
    z-index: 1;

    &>div {
        position: relative;
        z-index: inherit;
    }

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

.btn-link {
    background: none;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    color: #E74C3C;
}

.btn-link:hover {
    color: #d62c1a;
    background: none;
}

.confirm-button,
.confirm-button form {
    display: inline;
}

.pointer-auto {
    pointer-events: auto !important;
}

.form-addon-group {
    display: flex;
}

.form-addon {
    border-radius: 1px 0 0 1px;
    display: block;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    font-weight: 600;
    font-size: .9em;
    user-select: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

a {
    color: #CECECE !important;
}

a:hover {
    color: #ECECEC !important;
    font-weight: bold;
    text-shadow: 4px 8px 8px hsl(90deg 50% 50% / 0.5);
}

#polcom {
    aspect-ratio: 1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
              0 0 20px rgba(0, 0, 0, 0.4),
              0 0 30px rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 500px;
}

#erklaerung {
   font-size: medium;
}

.list-group-item {
    background-color: #dad1b4 !important;
    color: #050060 !important;
}

#kompasslink {
    color: #050060 !important;
}

#kompasslink:hover {
    color:#d62c1a !important;
}

#polcom:hover {
    content: url('../../public/mapache-pedro.gif');
    width: 500px;
    height: 500px;
}
