@import 'bootstrap/dist/css/bootstrap.min.css';

body {

}

main {
    z-index: 2;
    background: #313131;
    color: #CECECE;
    height: 93vh;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr min(65ch, calc(100% - 64px)) 1fr;
    grid-column-gap: 32px;
}

#main-container > * {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1/-1;
}

nav {
    height: 7vh;
}

#app {
    position: relative;
    z-index: 1;

    &>div {
        position: relative;
        z-index: inherit;
    }

}

.btn-link {
    background: none;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    color: #E74C3C;
}

.btn-link:hover {
    color: #d62c1a;
    background: none;
}

.confirm-button,
.confirm-button form {
    display: inline;
}

.pointer-auto {
    pointer-events: auto !important;
}

.form-addon-group {
    display: flex;
}

.form-addon {
    border-radius: 1px 0 0 1px;
    display: block;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    font-weight: 600;
    font-size: .9em;
    user-select: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

a {
    color: #CECECE !important;
}

a:hover {
    color: #ECECEC !important;
    font-weight: bold;
    text-shadow: 4px 8px 8px hsl(90deg 50% 50% / 0.5);
}
